
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.box {
	display: inline-block;
	border: 2px dashed deeppink;
	/* border-top-width: 5px;
	border-top-style: solid;
	border-top-color: forestgreen; */
	padding: 1rem 2rem;
	margin: .5rem;
}

.box-1 {
	/* min-height: 100vh; */
	/* height: 100%; */
	height: 300px;
	width: 50%;
	/* display: none; */
}

.box-2:hover {
	border-color: dodgerblue;
}

/* or */

/* Does not work in Chrome... */
div:last-of-type:hover {
	border-color: forestgreen;
}